%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Snails
      - if (current_user.nil?)
        - balance_text = ""
        - b_class = 'in-black'
      - else
        - balance_text = "Balance : #{current_user.calculate_running_balance}"
        - b_class = (current_user.calculate_running_balance.gsub(/[^-\d\.]/, '').to_f < 0.0) ? 'in-red' : 'in-black'
      %span{:class => b_class} #{balance_text}
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Home", users_show_url
        %li
          = link_to "Orders", orders_url
        %li.active
          = link_to "Snacks", new_order_url
        %li
          = link_to "Account", deposits_url
        %li
          = link_to "#{current_user.email}  Log out ", destroy_user_session_url, :method => :delete
