= render 'shared/navbar'
.jumbotron
  .container
    %h1 Orders
    %p
      View and update orders

.container
  %table.table
    %thead
      %tr
        %th Order ID
        %th Item
        %th Quantity
        %th Price
        %th Purchase Date
    %tbody
    - @orders.each do |order|
      %tr
        %th{:scope => "row"}= order.id
        %td= Snack.find(order.item_id).name
        %td= order.qntity
        %td= order.price
        %td= order.created_at.to_formatted_s(:short)
        %td= link_to 'Show', order
        %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }

  %strong Total: #{@grand_total}
