%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Snails
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Home", users_show_url
        %li
          = link_to "Orders", orders_url
        %li.active
          = link_to "Snacks", new_order_url
        %li
          = link_to "Account", deposits_url
        %li
          = link_to "Log out", destroy_user_session_url, :method => :delete
      %ul.nav.navbar-right
        %li
          %input.btn.btn-primary.btn-sm#purchase{:type => "purchase", :value => "Submit"}
          %button.btn.btn-success-outline.btn-sm#reset{:type => "button"} Reset
          %p.navbar-text#order_total{"data-order" => "{\"order_ids\":[]}"} $0.00

.jumbotron
  .container
    .row
      .col-lg-12
        %h1.page-header
          Snacks
      #items
        - @snacks.each do |snack|
          .col-lg-3.col-md-4.col-xs-6.thumb
            %a.thumbnail
              %img.img-responsive{:alt => "", :src => "#{snack.image}", :id => "#{snack.id}", "data-price" => "#{snack.price}"}
                #{snack.get_formatted_price}   #{snack.name}
   

:coffee
  strip_dollar = (m) =>
    money = m.split('$')
    return money[1]

  get_orders = () ->
    JSON.parse($('#order_total').attr('data-order'));

  append_id = (id) =>
    orders = JSON.parse($('#order_total').attr('data-order'));
    id_array = orders.order_ids.concat(id)
    orders.order_ids = id_array
    $('#order_total').attr('data-order',JSON.stringify(orders));

  update_price_total = (price) =>
    current_total = strip_dollar($("#order_total").html())
    current_float = parseFloat(current_total)
    new_total = price + current_float
    $("#order_total").html( "$" + new_total.toFixed(2) )

  $('#items').delegate 'img', 'click', ->
    append_id event.target.id
    price = $(event.target).data('price')
    update_price_total price
    return

  $('#reset').click ->
    window.location.href = "/";

  $('#purchase').click ->
    $.ajax 
      type: 'post'
      url: '/orders/purchase',
      data: JSON.stringify(get_orders())
      contentType: 'application/json; charset=utf-8'
      traditional: true
      success: (data) ->
        window.location.href = "/orders";
        return
