.jumbotron
  .container
    %H1 Account
    %p
      Add moneys to your account here
    %p#notice= notice

.container
  = link_to 'New Deposit', new_deposit_path
  %table.table
    %thead
      %tr
        %th Amount
        %th Date Deposited
        %th
        %th

    %tbody
      - @deposits.each do |deposit|
        %tr{:id => deposit.id, :data => "{\"id\": #{deposit.id} , \"amount\": #{deposit.amount} }", :changed => 'false'}
          %td.amount{:data => deposit.amount }= deposit.get_formatted_amount
          %td= deposit.created_at.to_formatted_s(:short)
          %td{:class => "edit", :id => "#{deposit.id}"}
            %a#edit= 'Edit'
          %td= link_to 'Destroy', deposit, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %strong Total: #{@total_deposits}

= javascript_include_tag 'deposits'
