.jumbotron
  .container
    %h1 Snacks
    %p Update and modify snacks

%table.table
  %thead
    %tr
      %th ID
      %th Name
      %th Price
      %th Added
      %th Modified
      %th
      %th
      %th
  %tbody
  - @snacks.each do |snack|
    %tr
      %th{:scope => "row"}= snack.id
      %td= snack.name
      %td= snack.get_formatted_price
      %td= snack.created_at
      %td= snack.updated_at
      %td= link_to 'Edit', edit_snack_path(snack)
      %td= link_to 'Destroy', snack, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Snack', new_snack_path
